<!DOCTYPE html>
<html>
    <head>
        <title>
            Dorm Room Essentials Checklist
        </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

        <!-- <script src="/templates/bootstrap-4.1.2-dist/css/bootstrap-grid.css"></script> -->
        <script src="/static/checklist.css"></script>
        <script src="/static/searchscript.js"></script>
      </head>
    <body style="height: 100%;background-position: center; background-repeat: no-repeat; background-size: cover" background='/static/harvard.png'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/static/icon.png" height=50px width=50px/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checklist">Checklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!-- Start tables-->



        <div class="row justify-content-center shadow p-3 mb-5 bg-gray rounded" style="background: rgba(255, 255, 255, 0.7)">
          <h1 style="margin-top: 30px">Checklist</h1>
        </div>

        <div class="shadow p-3 mb-5 bg-gray rounded" width=500px style="float:left; margin: 70px auto auto 100px; background: rgba(255, 255, 255, 0.7)">
        <form method=post>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Item</label>
              <div class="col-sm-10">
                <input type="text" name='item' class="form-control" id="queryBox" value= "{{value}}" placeholder="Add an item of your choice!" style="margin-right: 30px">
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0" style="margin-right: 20px;">Category</legend>
                <div class="col-sm-10">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name= "choice">
                      <option selected>Choose...</option>
                      <option value="want">WANT</option>
                    <option value="need">NEED</option>
                    <option value="bought">BOUGHT</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-sm-10">
                <button class="btn btn-primary" id="submitButton" type = "SUBMIT">Submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="shadow p-3 mb-5 bg-gray rounded" style="float:right; margin-right: auto; background: rgba(255, 255, 255, 0.7)">
        <div class = "row justify-content-center">

          <div class="col">
            <table class="table table-striped" >
                <thead>
                  <tr>
                    <th scope="col">Wants</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for want in wantsList %}
                        <td><a href="/delete?item_id={{want.key.urlsafe()}}"><img src="/static/x.svg"/></a></td>
                        <td><a href="/search?item_id={{want.value}}">{{want.value}}</td>
                        </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col">
                <table class="table table-striped"  item-width="50px">
                    <thead>
                      <tr>
                        <th scope="col">Needs</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for need in needsList %}
                            <td><a href="/delete?item_id={{need.key.urlsafe()}}"><img src="/static/x.svg"/></a></td>
                            <td><a href="/search?item_id={{need.value}}">{{need.value}}</td>
                            </tr>
                          {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="col">
                    <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th scope="col">Bought</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for bought in boughtList %}
                                <td><a href="/delete?item_id={{bought.key.urlsafe()}}"><img src="/static/x.svg"/></a></td>
                                <td><a href="/search?item_id={{bought.value}}">{{bought.value}}</td>
                                </tr>
                              {% endfor %}
                        </tbody>
                      </table>
                    </div>

      </div>
      </div>

    </body>
</html>
