<!DOCTYPE html>
<html>
    <head>
        <title>
            Dorm Room Essentials Checklist
        </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>    
      </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/static/icon.png" height=50px width=50px/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checklist">Checklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        <h1>Checklist</h1>
        <div>
          <table>
            <tr>
              <td>Want</td>
              <td>Remove Control<td>
            </tr>
            <tr>
              {% for want in wantsList %}
              <td>{{want.value}}</td>
              <td><a href="/delete?item_id={{want.key.urlsafe()}}">Delete</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div>
          <table>
            <tr>
              <td>Need</td>
              <td>Remove Control<td>
            </tr>
            <tr>
              {% for need in needsList %}
              <td>{{need.value}}</td>
              <td><a href="/delete?item_id={{need.key.urlsafe()}}">Delete</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div>
          <table>
            <tr>
              <td>Bought</td>
              <td>Remove Control<td>
            </tr>
            <tr>
              {% for bought in boughtList %}
              <td>{{bought.value}}</td>
              <td><a href="/delete?item_id={{bought.key.urlsafe()}}">Delete</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <form method=post>
          <div> TO ADD <input type = "text" name="item" id="queryBox" value= "{{value}}"></div>
                <select name= "choice">
                    <option value="want">WANT</option>
                    <option value="need">NEED</option>
                    <option value="bought">BOUGHT</option>
                </select>
                <div><input id="submitButton" type = "SUBMIT"></div>
              <div></div>
              </form>

    </body>


</html>
